# Classification and Clustering Algorithms paired with Wine and Chocolate
------
<img src="images/wineAndChocolate.jpg" width="500" height="500">

## A demo using DataStax Enterprise Analytics, Apache Cassandra, Apache Spark, Python, Jupyter Notebooks, Spark MlLib, and Naive Bayes. 

#### Real dataset: https://www.kaggle.com/rtatman/chocolate-bar-ratings

#### Most recent updates by Manhattan Cholocate Society: http://flavorsofcacao.com/index.html

## What are we trying to learn from this dataset? 

# QUESTION:  If I have some information about a chocolate bar can I predict which country produced this cholocate?

## Import python packages -- all are required
* Need to tell Jupyter to display with %matplotlib otherwise you will generate the plot but not display it

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
import pandas
import cassandra
import pyspark
import re
import os
#from uuid import uuid1
import matplotlib.pyplot as plt
from IPython.display import display, Markdown
from pyspark.sql import SparkSession
#from pyspark.ml.feature import Tokenizer, RegexTokenizer, StopWordsRemover
#from pyspark.sql.functions import col, udf
#from pyspark.sql.types import IntegerType
from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StringIndexer

### Helper function to have nicer formatting of Spark DataFrames
* Credit to the folks are Netflix for this pretty code.

In [3]:
#Helper for pretty formatting for Spark DataFrames
def showDF(df, limitRows =  5, truncate = True):
    if(truncate):
        pandas.set_option('display.max_colwidth', 50)
    else:
        pandas.set_option('display.max_colwidth', -1)
    pandas.set_option('display.max_rows', limitRows)
    display(df.limit(limitRows).toPandas())
    pandas.reset_option('display.max_rows')

# DataStax Enterprise Analytics
<img src="images/dselogo.png" width="400" height="200">

## Creating Tables and Loading Tables

## Connect to DSE Analytics Cluster

In [4]:
from cassandra.cluster import Cluster

cluster = Cluster(['127.0.01'])
session = cluster.connect()

## Create Demo Keyspace

In [5]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS wineChocolate 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

## Set keyspace

In [6]:
session.set_keyspace('winechocolate')

### Create table called chocoloate. Our PRIMARY will be a unique key we generate for each row. This will result in an even distribution of the data but we will have to utilize that PRIMARY KEY in our WHERE clause in any of our CQL queries.

In [7]:
query = "CREATE TABLE IF NOT EXISTS chocolate \
                                   (chocolateid int, company text, bar_location text, ref int, \
                                   review_date int, cocoa_percent float, company_location text, rating float, \
                                   bean_type text, bean_origin text, \
                                   PRIMARY KEY (chocolateid))"
session.execute(query)

## Columns 
* Chocoloate Id: Unique id to each bar 
* Company: Company Name of the company manufacturing the bar.
* Bar Location: Specific Bean Origin
* REF: Id when the review was entered in the database. Higher = more recent.
* Review Date: Review Date
* Cocoa Percentage: Cocoa percentage (darkness) of the chocolate bar being reviewed.
* Company Location: Manufacturer base country.
* Rating: Expert rating for the bar. (1-5)
* Bean Type: The variety (breed) of bean used, if provided.
* Bean Origin: The broad geo-region of origin for the bean.

## Load Flavors of Cacao Dataset
<img src="images/chocolatePic.jpeg" width="300" height="300">

## Load from CSV file (chocolateFinal.csv)

### Had to do some data cleaning to load this data. Removed `%`, removed extra commas, removed ``"``, removed extra commons that existed in the company name. This preprocessing was done by me and is availble in chocolateFinal.csv

#### Insert all the Cholocate Data into the Apache Cassandra table `chocolate`

In [8]:
fileName = 'data/chocolateFinal.csv'
input_file = open(fileName, 'r')
i = 1

for line in input_file:
    chocolateId = i 
    columns = line.split(',')
    if columns[7] == "\xc2\xa0":
        columns[7] = ""
    columns[8] = columns[8].rstrip("\r\n")
    
    query = "INSERT INTO chocolate (chocolateid, company, bar_location, ref, review_date, cocoa_percent, \
                                    company_location, rating, bean_type, bean_origin)"
    query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    session.execute(query, (chocolateId, columns[0], columns[1], int(columns[2]), int(columns[3]), 
                    float(columns[4]), columns[5], float(columns[6]), columns[7], columns[8]))
    i = i + 1

### Do a select * on each table and verify that the data have been inserted into the Apache Cassandra table

In [9]:
query = 'SELECT * FROM chocolate WHERE chocolateid=200'
rows = session.execute(query)
for row in rows:
    print (row.chocolateid, row.bar_location, row.ref, row.review_date, row.cocoa_percent, row.company_location,
          row.rating, row.bean_type, row.bean_origin)

(200, u'Sambiao 2009', 565, 2010, 70.0, u'U.S.A.', 3.0, u'Tiitaio', u'Madagasca')

## DSE Analytics with Apache Spark
<img src="images/sparklogo.png" width="150" height="200">

### Finally time for Apache Spark!

#### Create a spark session that is connected to Apache Cassandra. From there load each table into a Spark Dataframe and take a count of the number of rows in each.

In [10]:
spark = SparkSession.builder.appName('demo').master("local").getOrCreate()


chocolateTable = spark.read.format("org.apache.spark.sql.cassandra").options(table="chocolate", keyspace="winechocolate").load()

print ("Table Row Count: ")
print (chocolateTable.count())

Table Row Count:
1795

In [11]:
showDF(chocolateTable)

,chocolateid,bar_location,bean_origin,bean_type,cocoa_percent,company,company_location,rating,ref,review_date
0,1584,Ecuado Twilght Dak,Ecuado,,70.0,Stoe Gidz,U.S.A.,3.50,1291,2014
1,769,Los Rios Quevedo,Ecuado,Foasteo (Aiba),65.0,Guittad,U.S.A.,3.50,93,2006
2,1765,Peu Batch 1,Peu,,70.0,Zak's,U.S.A.,3.25,1578,2015
3,1580,Sambiao Valley,Madagasca,Tiitaio,70.0,Stachild,U.S.A.,3.00,1696,2015
4,1199,Fazeda Leolida,Bazil,Tiitaio (Scavia),70.0,Nugali,Bazil,3.50,1876,2016

### We will be training a model with Naive Bays, and because of this we need to split up our dataset in to a training and test set. Will split 80/20.

In [12]:
# Split the data into train and test
splits = chocolateTable.randomSplit([0.8, 0.2], 1234)
train = splits[0]
test = splits[1]

print ("Train Dataframe Row Count: ")
print (train.count())
print ("Test Datafram Row Count: ")
print (test.count())

Train Dataframe Row Count:
1490
Test Datafram Row Count:
302

### Naive Bayes is a classifier algorthim, that can predict a label from a model built from known lables. 

### Requires that all values passed to the function be a float and  Vectorized.  We will Create unique indexes for the Bean Origin, and our Label will be Compnay Location (what we are trying to predict). 

https://spark.apache.org/docs/latest/ml-features.html#stringindexer

#### StringIndexers of Bean Origin and Company Location

In [13]:
# Convert target into numerical categories

labelIndexer = StringIndexer(inputCol="bean_origin", outputCol="origin", handleInvalid='keep')
training1 = labelIndexer.fit(train).transform(train)

labelIndexer2 = StringIndexer(inputCol="company_location", outputCol="label", handleInvalid='keep')
training2 = labelIndexer2.fit(training1).transform(training1)

#### Vectorization -- in this case we will assume that if I have the cocoa_percentage, the rating, the chocolate origin, and the review date that we can use that data to figure out the Country that produced this chocolate.  We end up with a new DataFrame called training  data. 
https://spark.apache.org/docs/latest/ml-features.html#vectorassembler

In [14]:
assembler = VectorAssembler(
    inputCols=['cocoa_percent', 'rating', 'origin', 'review_date'],
    outputCol='features')

trainingData = assembler.transform(training2)
showDF(trainingData)

,chocolateid,bar_location,bean_origin,bean_type,cocoa_percent,company,company_location,rating,ref,review_date,origin,label,features
0,15,Colombie,Colombia,,70.0,A. Moi,Face,2.75,1015,2013,12.0,1.0,"[70.0, 2.75, 12.0, 2013.0]"
1,18,Chuao,Veezuela,Tiitaio,70.0,A. Moi,Face,4.00,1015,2013,0.0,1.0,"[70.0, 4.0, 0.0, 2013.0]"
2,20,Chachamayo Povice,Peu,,70.0,A. Moi,Face,3.50,1019,2013,2.0,1.0,"[70.0, 3.5, 2.0, 2013.0]"
3,22,Bolivia,Bolivia,,70.0,A. Moi,Face,3.50,797,2012,6.0,1.0,"[70.0, 3.5, 6.0, 2012.0]"
4,27,Vaua Levu Toto-A,Fiji,Tiitaio,80.0,Adi,Fiji,3.25,705,2011,33.0,43.0,"[80.0, 3.25, 33.0, 2011.0]"

#### We must also do this with the testing set

In [15]:
labelIndexer2 = StringIndexer(inputCol="bean_origin", outputCol="origin", handleInvalid='keep')
testing1 = labelIndexer2.fit(test).transform(test)

labelIndexer4 = StringIndexer(inputCol="company_location", outputCol="label", handleInvalid='keep')
testing2 = labelIndexer4.fit(testing1).transform(testing1)

In [16]:
assembler1 = VectorAssembler(
    inputCols=['cocoa_percent', 'rating', 'origin', 'review_date'],
    outputCol='features')

testingData = assembler1.transform(testing2)

showDF(testingData)

,chocolateid,bar_location,bean_origin,bean_type,cocoa_percent,company,company_location,rating,ref,review_date,origin,label,features
0,3,Atsae,Togo,,70.0,A. Moi,Face,3.00,1676,2015,29.0,1.0,"[70.0, 3.0, 29.0, 2015.0]"
1,9,Pueto Cabello,Veezuela,Ciollo,70.0,A. Moi,Face,3.75,1319,2014,0.0,1.0,"[70.0, 3.75, 0.0, 2014.0]"
2,12,Madagasca,Madagasca,Ciollo,70.0,A. Moi,Face,3.00,1011,2013,3.0,1.0,"[70.0, 3.0, 3.0, 2013.0]"
3,35,Mote Alege D. Badeo,Bazil,Foasteo,75.0,Akesso's (Palus),Switzelad,2.75,508,2010,5.0,7.0,"[75.0, 2.75, 5.0, 2010.0]"
4,87,Toscao Black,,Bled,70.0,Amedei,Italy,5.00,40,2006,6.0,12.0,"[70.0, 5.0, 6.0, 2006.0]"

### Now it's time to to use NaiveBayes. We will train the model, then use that model with out testing data to get our predictions. 
https://spark.apache.org/docs/2.2.0/ml-classification-regression.html#naive-bayes

In [17]:
nb = NaiveBayes(smoothing=1.0, modelType="multinomial")

# train the model
model = nb.fit(trainingData)

predictions = model.transform(testingData)
#predictions.show()
print (predictions.count())
showDF(predictions)

302

,chocolateid,bar_location,bean_origin,bean_type,cocoa_percent,company,company_location,rating,ref,review_date,origin,label,features,rawPrediction,probability,prediction
0,3,Atsae,Togo,,70.0,A. Moi,Face,3.00,1676,2015,29.0,1.0,"[70.0, 3.0, 29.0, 2015.0]","[-494.5865851396419, -489.1407158785233, -492....","[0.00019893900890165727, 0.04611380080723301, ...",11.0
1,9,Pueto Cabello,Veezuela,Ciollo,70.0,A. Moi,Face,3.75,1319,2014,0.0,1.0,"[70.0, 3.75, 0.0, 2014.0]","[-344.94040813896777, -352.09233876864727, -34...","[0.000660398940731061, 5.17323682720788e-07, 5...",13.0
2,12,Madagasca,Madagasca,Ciollo,70.0,A. Moi,Face,3.00,1011,2013,3.0,1.0,"[70.0, 3.0, 3.0, 2013.0]","[-356.0028528185422, -361.8741761796009, -360....","[0.15086941470176607, 0.0004253220204865153, 0...",5.0
3,35,Mote Alege D. Badeo,Bazil,Foasteo,75.0,Akesso's (Palus),Switzelad,2.75,508,2010,5.0,7.0,"[75.0, 2.75, 5.0, 2010.0]","[-381.8006658518986, -386.787296675969, -385.2...","[0.5020013914547213, 0.0034279830887033883, 0....",0.0
4,87,Toscao Black,,Bled,70.0,Amedei,Italy,5.00,40,2006,6.0,12.0,"[70.0, 5.0, 6.0, 2006.0]","[-384.70049806103356, -389.1679061660493, -387...","[0.567148650619069, 0.006509179001035897, 0.02...",0.0

#### Let's just look at a few.

In [18]:
showDF(predictions.select("company_location", "label", "prediction", "probability"))

,company_location,label,prediction,probability
0,Face,1.0,11.0,"[0.0001945081139786896, 0.0459617169586473, 0...."
1,Face,1.0,13.0,"[0.0006661252296518849, 5.02130696622614e-07, ..."
2,Face,1.0,34.0,"[2.5777630948886505e-12, 6.488646004286663e-07..."
3,U.S.A.,0.0,1.0,"[0.20165984233196993, 0.23871437656668387, 0.0..."
4,Italy,12.0,1.0,"[0.09292845543353158, 0.28869052344325646, 0.0..."

### We can now use the MutliclassClassifciationEvaluator to evalute the accurancy of our predictions.

In [19]:
# compute accuracy on the test set
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction",
                                              metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test set accuracy = " + str(accuracy))

Test set accuracy = 0.183606557377

### X amount of the time if we know the cocoa percentage, where the bean was grown, and the rating we can figure out what country produced this candy bar. Pretty interesting.

#### Go and try to see what else you can predict? Can you predict the rating based on these attributes?

### Reference: 
* https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/3741049972324885/3783546674231736/4413065072037724/latest.html
* https://www.kaggle.com/rtatman/chocolate-bar-ratings
* https://en.wikipedia.org/wiki/Naive_Bayes_classifier